@model IEnumerable<ASP_2184587.Models.producto_compra>
@{
    ViewBag.Title = "Lista de Producto Compra";
}

<h2>Lista de Producto Compra</h2>
<p>Listado de Producto Compra registrado en el Sistema de Informacion.</p>
<p>
    @Html.ActionLink("Crear Producto Compra", "Create", "", new { @class = "btn btn-default", @role = "button" })
</p>
<table class="table table-bordered table-hover table-responsive">
    <tr>
        <th>
            ID Compra
        </th>
        <th>
            Producto
        </th>
        <th>
            Cantidad
        </th>
        <th>
            Gestion
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_compra)
            </td>
            <td>
                @ASP_2184587.Controllers.ProductoCompraController.NombreProducto(item.id_producto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>

@section scripts{
    <script>
        $(".linkDelete").click(function (event) {
            if (!confirm('¿Esta seguro de eliminar ?')) {
                event.preventDefault();
            }
        })
    </script>
}