@model ASP_2184587.Models.cliente

@{
    ViewBag.Title = "Detalles de Cliente";
}

<h2>Detalles de Cliente</h2>
<p>En este formulario se pueden visualizar los datos especificos del cliente seleccionado.</p>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Documento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.documento)
        </dd>

        <dt>
            Correo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
</div>
<p>
    <div>
        @Html.ActionLink("Editar", "Edit", new { id = Model.id }, new { @class = "btn btn-default", @role = "button" })
        @Html.ActionLink("Regresar a la Lista", "Index", "", new { @class = "btn btn-default", @role = "button" })
    </div>
</p>
